@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
.profile-page{
    font-family: "open sans";
}
.profile-details-page{
  position: absolute;
  top: 80px;
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  width: 100vw;
  height: 70vh;
  align-items: center;
  justify-content: space-evenly;
}
.profile-div{
  width: 65vw;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(66, 50, 98, 0.35);
  border-radius: 10px;
  display: flex;
}
.profile-img-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-img{
    border-radius: 50%;
    height: 250px;
}
.fileUploadInput {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; }
    
    .fileUploadInput label {
      display: flex;
      align-items: center;
      color: setColor(primary, 0.5);
      background: setColor(white);
      transition: .4s ease;
      font-family: arial, sans-serif;
      font-size: 1.2em;
      font-weight: regular; }
      
    .fileUploadInput input {
      position: relative;
      z-index: 1;
      padding: 0 gap(m);
      width: 100%;
      height: 50px;
      border: 1px solid #323262;
      border-radius: 3px;
      font-family: arial, sans-serif;
      font-size: 1rem;
      user-select: none;
      cursor: pointer;
      font-weight: regular; }
      .fileUploadInput input[type="file"] {
        padding: 0 gap(m); }
        .fileUploadInput input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
          margin-left: 10px;
          padding: 0;
          height: 50px;
          width: 0; }
          
    .fileUploadInput button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      line-height: 0;
      user-select: none;
      color: white;
      background-color: #323262;
      border-radius: 0 3px 3px 0;
      font-family: arial, sans-serif;
      font-size: 1rem;
      font-weight: 800; }
      .fileUploadInput button svg {
        width: auto;
        height: 50%; }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    outline: 0;
    background-repeat: no-repeat;
    appearance: none;
    border-radius: 0;
    vertical-align: middle;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
    user-select: text;
    line-height: 1.333em; }
  
  /* body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(66, 50, 98, 0.05); } */
  
  .container {
    width: 80%;
    padding: 25px;
    
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background: white; }
  
  @-moz-document url-prefix() {
  .fileUploadInput button{
      display: none
  }
  }
.profile-Info{
    width: 60%;
    padding: 30px;
}
.profile-details-div-div{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 230px;
}
.Account-balance{
    font-size: 2.5rem;
}
.profile-name{
    font-size: 2.5rem;
}
.horizontal-line{
    width: 100%;
    border-top: 2px solid #000;
}  
.Account-balance-withdraw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.withdraw{
    background-color: #9000ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2rem;
}
.withdraw:hover{
    background-color: #47007e;
}
.profile-details,.profile-details-input{
    font-size: 2rem;
}
.profile-details{
    width: 70%;
    max-height: 60px;
}
.Address{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}
.verfied{
    font-size: 1.5rem;
    position: relative;
    bottom: 8px;
    background-color: #9000ff;
    color: #fff;
    padding: 8px 10px;
    height: 45px;
    border-radius: 10px;
    font-size: 2rem;
}
.verfied:hover{
    background-color: #47007e;
}

::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.profile-details-input{
    font-weight: 600;
}
.profile-details-div{
    display: flex;
    min-height: 50px;
    justify-content: space-between;
}
.verifiable-details{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.registered-contest-information{
  width: 400px;
  height: 450px;
  background-color: #000;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(66, 50, 98, 0.35);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.profile-Contests{
  color: #9000ff;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
}
.registered-contests-div{
  height: 120px;
  overflow-y: scroll;
}
.registered-contests-div::-webkit-scrollbar-track{
  background: #e6e8ff;
  margin-left: 5px;
}
.profile-contests-div{
  background-color: #e6e8ff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px 30px;
}
.registered-contests-heading{
  font-size: 2.2rem;
  font-weight: 500;
}
.registered-contest-name-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.registered-contest-name,.registered-contest-rank{
  margin-bottom: 0px;
}
.registered-contest-rank{
  font-family: Merriweather;
  font-size: 2.2rem;
  background-color: #e6c8ff;
  padding: 10px 20px;
  border-radius: 10px 0px 0px 10px;
}
@media all and (max-width:1200px) {
  .profile-div{
    width: 85vw;
  }
  .profile-img-div{
    width: 30%;
  }
  .profile-Info{
    width: 70%;
  }
  .profile-img{
    height: 220px;
  }
}
@media all and (max-width:991px) {
  .profile-div{
    flex-direction: column;
    height: fit-content;
  }
  .profile-img-div{
    width: 100%;
  }
  .container{
    width: 250px
  }
  .profile-Info{
    width: 100%;
  }
  .profile-div{
    margin-bottom: 40px;
   }
   .registered-contest-information{
    margin-bottom: 40px;
   }
}
@media all and (max-width:676px) {
  .Address{
    width: 100%;
  }
  .profile-details-div{
    flex-direction: column;
  }
  .verifiable-details{
    width: 100%;
  }
  .verifiable-details{
    flex-direction: column;
  }
  .verfied{
    margin-top: 20px;
    width: fit-content;
  }
}
@media all and (max-width:479px) {
  .Profile-page{
    height: 1000px;
  }
  .profile-img{
    margin-top: 25px;
  }
  .registered-contest-information{
    width: 85%;
  }
}
@media all and (max-width:380px) {
  .Profile-page{
    height: 1000px;
  }
}