@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.quiz{
    background-color: #e6e8ff;
    min-height: 100vh;
    width: 100vw;
}
.question-block{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 150px;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    width: 70vw;
    min-height: 430px;
    padding: 20px;
    background-color: #fafafe;
    box-shadow: 0px 0px 20px #c7caec;
}
.question-box{
    height: fit-content;
    width: 80%;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 0px 20px #c7caec;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 25px;
}
.question{
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0px;
}
.options{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    min-height: 200px;
}
.option-set{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.option{
    background-color: #fff;
    box-shadow: 0px 0px 20px #c7caec;
    width: min(300px,20vw);
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.option-text{
    text-align: center;
    margin: 0px;
}
.question-number{
    background-color: #9000ff;
    width: fit-content;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 20px;
}
.question-number-text{
    color: #fff;
    margin: 0;
}
.buttons{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.prev-next{
    color:#9000ff;
    cursor: pointer;
}
.selected{
    color: #9000ff;
    background-color: #ebc8ff;
    border: 1px solid #9000ff;
}
.quiz-form{
    height: 50%;
    min-height: 200px;
}

.option-set input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
  -moz-appearance: none;
}
.notvisible{
    visibility: hidden;
}
.submit-block{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.quiz-submit{
    font-family: 'poppins';
    border: 0px;
    height: 40px;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #9000ff;
    border-radius: 20px;
}
.alarm-clock{
    width: 40px;
    margin-bottom: 10px;
}
.quiz-navigation-bar{
    background-color: #F6F8F9;
    height: 100vh;
    width: 22%;
    padding: 20px 30px;
    position: relative;
}
svg.lucide {
    width: 2em;
    height: 2em;
}
.samparc-logo{
    width: 130px;
    margin-left: 30px;
}
.open-close{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.contest-name-code{
    margin-top: 30px;
    text-align: left;
    font-size: 2rem;
}
.quiz-questions{
    max-height: 60vh;
    width: 100%;
    overflow: scroll;
    padding: 10px 0px
}
.quiz-navigation-question{
    background-color: #e6e8ff;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
}
.navigation-but{
    padding: 5px 35px;
    margin-top: 10px;
}
.align-justify{
    position: fixed;
    left: 30px;
    top: 15px;
    z-index: -1;
    background-color: #fff;
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px;
    padding: 5px;
}
@media all and (max-width:991px) {
    .quiz-navigation-bar{
        width: 50%;
        margin-left: -50%;
        z-index: 5;
    }
    .question-block{
        margin-left: 0px;
    }
    .align-justify{
        z-index: 1;
    }
}
@media all and (max-width:768px) {
    .question-block{
        min-height: 550px;
    }
    .quiz-form{
        height: 60%;
        min-height: 280px;
    }
    .options{
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 30px;
        min-height: 300px;
    }
    .option-set{
        height: 50%;
        width: 100%;
        min-height: 150px;
        align-items: center;
    }
    .option{
        width: 100%;
    }
}
@media all and (max-width:479px) {
    .question-block{
        min-height: 550px;
        width: 90%;
    }
    .quiz-navigation-bar{
        width: 70%;
        margin-left: -70%;
        z-index: 5;
    }
    .quiz-form{
        height: 60%;
    }
    .options{
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 30px;
    }
    .option-set{
        height: 50%;
        width: 100%;
        align-items: center;
    }
    .question-box{
        padding: 30px 15px;
    }
}