.Testseries-info{
    display: flex;
    padding: 10% 10%;
    background-color: #f9fbfb;
}
.Testseries-info-image{
    width: 50%;
}
.testseriesinfo-div{
    padding-left: 40px;
}
.enroll-in-testeries{
    font-size: 2.8rem;
    font-weight: 500;
}
.samparc-text{
    font-size: 4rem;
    font-weight: 600;
    padding: 20px 0px;
}
.get-access-to{
    font-size: 2.5rem;
    font-weight: 400;
}
.what-you-get{
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 500;
}
.features-div{
    display: flex;
    flex-wrap: wrap;
}
.feature-div{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    width: 200px;
    height: 100px;
    margin-right:80px;
}
.feature-img{
    width: 70px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
.ranking-img{
    background-color: #ffe9a9;
}
.analysis-img{
    background-color: #ffbb97;
}
.exam-img{
    background-color: #ddb7ff;
}
.prices-img{
    background-color: #dbffda;
}

/* Testseries section starts */
.Testseries-section{
    width: 100%;
    padding: 50px 10%;
    margin: auto;
    background-image: linear-gradient(#fff, #f1e0ff);
}
.Testseries-heading{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
.TestSeries-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0px;
}
.testseries{
    box-shadow: 0px 0px 10px #000;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.testseries-name{
    font-size: 2.2rem;
    font-weight: 500;
}
.testseries-info-img{
    width: 70px;
    aspect-ratio: 1/1;
}
.Total-tests{
    font-size: 2rem;
}
.benfits-point{
    font-size: 1.8rem;
}
hr{
    opacity: 2;
    margin: 10px 0px;
    border-top: 1px solid #000;
}
.view-testseries{
    width: 100%;
    background-color: #0acdf1;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.view-testseries:hover{
    background-color: #09bbdc;
}
@media all and (max-width:991px) {
    .Testseries-info{
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        padding-left: 0px;
    }
    .Testseries-info-image{
        height: 250px;
        width: 250px;
        margin: 50px auto;
    }
    .testseriesinfo-div{
        justify-content: center;
    }
    .enroll-in-testeries{
        font-size: 2rem;
    }
    .samparc-text{
        font-size: 2.5rem;
        padding: 10px 0px;
    }
    .get-access-to{
        font-size: 2rem;
    }
}